@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: poppins, sans-serif;
  /* height: 5000px; */
}

h1,
h2,
h3 {
  font-weight: 1000;
}

h4,
h5 {
  font-weight: 500;
}
